body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 @font-face {
  font-family: "BubbleWorld";
  src: local("BubbleWorld"),
    url("./fonts/BubbleWorld-nRG50.ttf") format("truetype");
  font-weight: normal;
} 
@font-face {
  font-family: "Superfats";
  src: local("Superfats"),
    url("./fonts/Superfats-K4Vp.ttf") format("truetype");
  font-weight: normal;
} 
@font-face {
  font-family: "Foo";
  src: local("Foo"),
    url("./fonts/foo.otf") format("opentype");
  font-weight: normal;
} 